<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <link rel="stylesheet" type="text/css" href="../style/css/jquery.dataTables.min.css">
 <title>PiLN Raspberry Pi Kiln Controller - {{ title }}</title>
  <!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
  <script type="text/javascript" src="../style/js/jquery-3.6.0.min.js"></script>
   <script type="text/javascript" src="../style/js/jquery.dataTables.min.js"></script>
  <script>
function loadProcStat(){
  $.getJSON("/api/status", function(data) {
    const running = !!(data.daemon && data.daemon.running);
    if (!running) {
      $('#statusupd1').text('WARNING: Firing process daemon is DOWN');
      $('#statusupd2').html('&nbsp;');
    } else {
      if (data.run_profile === 'none') {
        $('#statusupd1').text('Daemon: IDLE');
        $('#statusupd2').html('<div class="temp">Temp: ' + data.readtemp + '&deg;C</div>');
      } else {
        $('#statusupd1').html('Daemon: ACTIVE, Run ID: ' + data.run_profile + ', ' +
                              'Seg ' + data.run_segment + ', ' +
                              'Stat: ' + data.status);
        $('#statusupd2').html('<div class="temp">Temp: ' + data.readtemp + '&deg;C, </div>' +
                              'Ramp: ' + data.ramptemp + '&deg;C, ' +
                              'Target: ' + data.targettemp + '&deg;C, ' +
                              'SegTime: ' + data.segtime);
      }
    }
    setTimeout(loadProcStat, 5000);
  });
}

$(document).ready(loadProcStat);

  
</script>

</head>
<body>
  <div class="body">
 <div class="logo">
     <a href="home.cgi"><img src="/images/piln.png" /></a>
   </div>
   <div class="status">
   
    <div id='statusupd1'>Updating Status...</div><br>
    <div id='statusupd2'>&nbsp;</div>
   </div>
 
