[Unit]
Description=PiLN Kiln Controller firing daemon

[Service]
Type=simple
WorkingDirectory=/home/pi/PILN/daemon
ExecStart=/usr/bin/python3 /home/pi/PILN/daemon/pilnfired.py
Restart=always

[Install]
WantedBy=multi-user.target
